.chat-message {
  display: flex;
  padding: 5px;
  margin: 5px;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 5px;
  margin-top: 25px;
  margin-right: 5px;
}

.user {
  font-size: 12px;
  padding: 5px;
}

.body {
  background-color: #e9e9eb;
  border-radius: 15px;
  padding: 10px 8px;
}

.sent-message {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px;
  margin: 5px;
}

.sent-message .body {
  background-color: #1185f7;
  color: white;
}
